---
import Layout from '../layouts/Layout.astro';
import Typewriter from '../components/Typewriter.jsx';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex flex-col items-center justify-center h-screen">
			<Typewriter client:load text="Hello, Astro and React!" />
		</div>
	</main>
</Layout>

