---
import Layout from '../layouts/Layout.astro';
import Typewriter from '../components/Typewriter.jsx';
---

<Layout title="Welcome to Astro.">
	<main>
		<Typewriter client:load text="Hello, Astro and React!" typingSpeed={100} blinkSpeed={500} />
	</main>
</Layout>

