---
import Layout from '../layouts/Layout.astro';
import TypewriterSequence from '../components/TypewriterSequence.jsx';

const sentences = [
  "system booting up",
  "fetching updates... done!",
  "initializing updates"
];
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex flex-col items-center justify-center h-screen">
			<TypewriterSequence client:load sentences={sentences} defaultTypingSpeed={60} delayBetweenSentences={500} holdDuration={1500} />
		</div>
	</main>
</Layout>

