---
import AugurLogo from '../assets/augur.svg';
---

<div class="fixed p-8 inset-0 flex flex-col justify-center items-center text-primary font-barlow z-10 text-center">
  <div class="absolute top-5 right-5 flex gap-2.5">
    <a href="#" class="text-primary no-underline font-console text-lg">D</a>
    <a href="#" class="text-primary no-underline font-console text-lg">T</a>
  </div>

  <AugurLogo class:list="text-9xl" />
  
  <h2 class="font-press-start text-[2.5em] my-5 flex items-center gap-5 title">
    <span class="w-[50px] h-[1px] bg-foreground"></span>
    <span class="title font-console text-3xl md:text-[2.5rem]">IS REBOOTING</span>
    <span class="w-[50px] h-[1px] bg-foreground"></span>
  </h2>

  <p class="font-barlow border border-primary/30 px-3 py-1 text-lg mt-0 tracking-[0.22em] leading-tight text-foreground">
    THE FRONTIER OF PREDICTION MARKET
  </p>

  <div class="flex flex-col place-items-center font-console mt-12 text-left w-full max-w-3xl mx-auto">
    <a href="#" class="text-base my-2.5 block">
      <span>&gt;</span> REIMAGINED, TRANSFORMED, REFRESHED
    </a>
    <a href="#" class="text-base my-2.5 block">
      THE VISIONARIES BEHIND AUGUR
    </a>
    <a href="#" class="text-base my-2.5 block">
      IS MY REP SAFE?
    </a>
  </div>
</div>