---
import DiscordLogo from '../assets/discord.svg';
import XLogo from '../assets/x.svg';
import GithubLogo from '../assets/github.svg';
---

<div id="social-links" class="fixed top-8 right-10 flex gap-x-8 z-50">
  <a id="twitter-link" href="https://x.com/AugurProject" class="text-green-500 hover:text-shadow-[0_0_0.5rem_var(--color-green-500)] focus:text-shadow-[0_0_0.5rem_var(--color-green-500)] focus:outline-none no-underline font-console text-3xl">
    <XLogo />
  </a>
  <a id="discord-link" href="https://discord.gg/Y3tCZsSmz3" class="text-green-500 hover:text-shadow-[0_0_0.5rem_var(--color-green-500)] focus:text-shadow-[0_0_0.5rem_var(--color-green-500)] focus:outline-none no-underline font-console text-3xl">
    <DiscordLogo />
  </a>
  <a id="github-link" href="https://github.com/AugurProject/" class="text-green-500 hover:text-shadow-[0_0_0.5rem_var(--color-green-500)] focus:text-shadow-[0_0_0.5rem_var(--color-green-500)] focus:outline-none no-underline font-console text-3xl">
    <GithubLogo />
  </a>
</div>
