---
import DiscordLogo from '../assets/discord.svg';
import XLogo from '../assets/x.svg';
import GithubLogo from '../assets/github.svg';
---

<div id="social-links" class="flex gap-x-8">
  <a id="twitter-link" href="https://x.com/AugurProject" class="text-foreground hover:text-loud-foreground focus:text-loud-foreground hover:fx-glow focus:fx-glow focus:outline-none no-underline font-display text-3xl">
    <XLogo />
  </a>
  <a id="discord-link" href="https://discord.gg/Y3tCZsSmz3" class="text-foreground hover:text-loud-foreground focus:text-loud-foreground hover:fx-glow focus:fx-glow focus:outline-none no-underline font-display text-3xl">
    <DiscordLogo />
  </a>
  <a id="github-link" href="https://github.com/AugurProject/" class="text-foreground hover:text-loud-foreground focus:text-loud-foreground hover:fx-glow focus:fx-glow focus:outline-none no-underline font-display text-3xl">
    <GithubLogo />
  </a>
</div>
