---
import DiscordLogo from '../assets/discord.svg';
import XLogo from '../assets/x.svg';
import GithubLogo from '../assets/github.svg';
---

<div id="social-links" class="fixed top-8 right-10 flex gap-x-8 z-50">
  <a id="twitter-link" href="https://x.com/AugurProject" class="text-primary hover:text-foreground focus:text-foreground no-underline font-console text-3xl">
    <XLogo />
  </a>
  <a id="discord-link" href="https://discord.gg/Y3tCZsSmz3" class="text-primary hover:text-foreground focus:text-foreground no-underline font-console text-3xl">
    <DiscordLogo />
  </a>
  <a id="github-link" href="https://github.com/AugurProject/" class="text-primary hover:text-foreground focus:text-foreground no-underline font-console text-3xl">
    <GithubLogo />
  </a>
</div>
