---
interface Props {
  title: string;
  date?: string;
  isLast?: boolean;
}

const { title, date, isLast = false } = Astro.props;
---

<div
  class:list={[
    "relative grid grid-cols-1 lg:grid-cols-[1fr_2fr] gap-8 items-start",
    { "mb-16": !isLast },
  ]}
>
  <div class="lg:text-right lg:pr-8">
    <div class="text-muted-foreground mb-2">{date}</div>
    <h2 class="font-display text-loud-foreground font-bold">{title}</h2>
  </div>
  <div class="timeline-content">
    <slot />
  </div>
</div>
